<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="./css/style.css">
	<style>
		header nav a{
			font-family: 'Times New Roman', Times, serif;
		}
	</style>
</head>
<body>
    <header>
			<div class="container">
				<h2 class="logo">STELLE DELLA FILM</h2>

				<nav>
					<a href="/home" >Inicio</a>
					<a href="/film">Peliculas</a>
					<a href="#">Mas Recientes</a>
					<a href="#" class="activo">Perfil</a>
			</nav>
	</div>
		</header>

		<main>
			<div class="populares container">
				<div class="titulo-p">
					<h3>Acción</h3>
				</div>

			<div class="container">

				<table class="content-table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nombre</th>
							<th scope="col">Genero</th>
							<th scope="col">Fecha</th>
							<th scope="col">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<% prom.forEach((user) => { %> 
						<tr class="text-white">
							<td><%= user.id %> </td>
							<td> <%= user.nombre %></td>
							<td><%= user.genero %></td>
							<td><%= user.fecha_lanzamiento %></td>
							<td>
								<a href="/edit/<%= user.id %>" style="text-decoration:none"><i class='bx bxs-edit bx-xs'></i></a>
								<a href="/delete/<%= user.id %>" style="text-decoration:none"><i class='bx bx-trash bx-xs'></i></a>
							</td>
						</tr>
						<% }) %> 
						<tr>
							<td>
								<button type="submit" class="btn-us"><a href="/create" style="text-decoration:none">Nuevo</a></button>
							</td>
						</tr>
					</tbody>
					
				</table>
			</div>
		</main>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</html>